$green: #25ffb3;
$orange: #ff5733;
$yellow: #f0db4f;
$blue: #3c99dc;

@import "../../../Sass/Variables.scss";

.project__section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .project__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover > .article__1 {
      transform: translateX(-150%) rotate(-5deg);
    }
    &:hover > .article__2 {
      transform: translateX(-50%) rotate(-5deg);
    }
    &:hover > .article__3 {
      transform: translateX(50%) rotate(-5deg);
    }
    &:hover > .article__4 {
      transform: translateX(150%) rotate(-5deg);
    }

    .project__article {
      height: 35rem;
      width: 30rem;
      background: white;
      position: absolute;
      .project__header {
        height: 75%;
        // background: rgba(255, 136, 0, 0.836);
        padding: 2rem;
        .project__figure {
          width: 100%;
          height: 100%;
          cursor: pointer;
          .project__image {
            width: 100%;
            height: 100%;
          }
        }
      }

      .project__footer {
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        .project__ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          .icons {
            font-size: 175%;
            cursor: pointer;
          }
          .icons__1 {
            transition: 0.2s all;
            &:hover {
              color: $green;
            }
          }
          .icons__2 {
            transition: 0.2s all;
            &:hover {
              color: $orange;
            }
          }
          .icons__3 {
            transition: 0.2s all;
            &:hover {
              color: $yellow;
            }
          }
          .icons__4 {
            transition: 0.2s all;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
    .article__1,
    .article__2,
    .article__3,
    .article__4 {
      transition: transform 600ms cubic-bezier(0.19, 1.02, 0.83, 0.32);
      // transition: transform 600ms cubic-bezier(.13,1.08,.93,.67);
    }
    .article__1 {
      transform: translateX(-10%) rotate(-15deg);
      .header__1 {
        background: $green;
        transition: 0.25s;
        &:hover {
          opacity: 0.75;
        }
      }
    }
    .article__2 {
      transform: translateX(-5%) rotate(-10deg);

      .header__2 {
        background: $orange;
        transition: 0.25s;
        &:hover {
          opacity: 0.75;
        }
      }
    }
    .article__3 {
      transform: translateX(5%) rotate(-5deg);

      .header__3 {
        background: $yellow;
        transition: 0.25s;
        &:hover {
          opacity: 0.75;
        }
      }
    }
    .article__4 {
      transform: translateX(10%) rotate(0deg);

      .header__4 {
        background: $blue;
        transition: 0.25s;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}


@media screen and (max-width: $desktop-width){
  .project__section {
    .project__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover > .article__1 {
        transform: translateY(-100%) rotate(10deg);
      }
      &:hover > .article__2 {
        transform: translateY(-15%) rotate(-10deg);

      }
      &:hover > .article__3 {
        transform: translateY(65%) rotate(10deg);
      }
      &:hover > .article__4 {
        transform: translateY(150%) rotate(-10deg);
      }

      .article__1 {
        transform: translateY(-100%) rotate(10deg);
      }
      .article__2 {
        transform: translateY(-15%) rotate(-10deg);
      }
      .article__3 {
        transform: translateY(65%) rotate(10deg);
      }
      .article__4 {
        transform: translateY(150%) rotate(-10deg);
      }
   
    .project__article {
      height: 25rem;
      width: 20rem;
      background: white;
      position: absolute;
      .project__header {
        height: 75%;
        padding: 1.5rem;
      }
    }
   }
  }

}