@import "../../../../Sass/Variables.scss";
$Green: hsl(159, 100%, 37%);
.skills1{
    transform: translateX(-125%) scale(0.5);
    transition: 500ms;
    z-index: -4;
}
.skills2{
    transform: translateX(-100%) scale(0.7);
    transition: 500ms;
    z-index: -3;
}
.skills3{
    transform: translateX(-75%) scale(0.8);
    transition: 500ms;
    z-index: -2;

}
.skills4{
    transform: translateX(-50%) scale(0.9);
    transition: 500ms;
    z-index: -1;

}
.skills5{
    transform: translateX(0) scale(1.05);
    // transform: translateY(10px);
    transition: 500ms;
    z-index: 50;
    box-shadow: 0px 0px 5px 2px #000000;

}
.skills6{
    transform: translateX(50%) scale(0.9);
    transition: 500ms;

    z-index: -1;

}
.skills7{
    transform: translateX(75%) scale(0.8);
    transition: 500ms;

    z-index: -2;

}
.skills8{
    transform: translateX(100%) scale(0.7);
    transition: 500ms;

    z-index: -3;

}
