$brightGreen: #25ffb3;
$mediumDarkGreen: #1ecc8f;
$offWhite: #eee;
$darkblue: #1f2235;

.about__section {
  .bg__square__container{
      z-index: -1;
      position: relative;

      .bg__square{
        position: absolute;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        border: none;
        background: $brightGreen; 
        opacity: 0.75;
        filter: blur(75px);
      }

      .bg__square__1{
          left: -35rem;
          top: 20rem;
      }
      .bg__square__2{
          position: absolute;
          left: 50rem;
          top: 40rem;
      }
  }

  height: 100vh;
  display: flex;
  justify-content: center;
  transition: 0.5s all;
  // background: $darkblue;
  .about__leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65rem;
    width: 50rem;
    .about__image__container {
      background: linear-gradient(35deg, $offWhite 50%, $brightGreen 50%);
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55%;
      width: 50rem;
    }
    .about__image {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
    }
    .about__text__container {
      // background: linear-gradient(100deg, $offWhite 50%, $brightGreen 50%);
        
      text-align: center;
      height: 40%;
      width: 50rem;
      background: $offWhite;
      font-size: 150%;
      padding: 5rem;
      .about__text__btn{
          border: none;
          padding: 1.2rem 5rem;
          background: $brightGreen;
          border-radius: 1rem;
          font-size: 2rem;
          font-weight: 600;
          color: $darkblue;
          margin-top: 2rem;
        //   border: 0.3rem solid $offWhite;
          transition: 0.3s all;
          cursor: pointer;
          &:hover{
          border: 0.3rem solid $brightGreen;
              background: transparent;
          }
      }
      .about__text__p {
        color: $darkblue;
        padding: 0.5rem 0;
      }
      .about__text__span {
        color: $mediumDarkGreen;
        font-weight: 600;
      }
    }
  }

  .about__rightside {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 2rem;

    .fa-arrow-right {
      color: $brightGreen;
      font-size: 10rem;
      cursor: pointer;
    }
    .about__rightside__container {
      color: $offWhite;
      padding: 5rem;
      // width: 50rem;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }
    .about__rightside__p {
      font-size: 170%;
    }
  }
  .about__text__footer {
    // height: 5%;
    background: $offWhite;
    width: 50rem;
    padding: 2rem;
    transition: 0.3s all;
    &:hover{
        background: $brightGreen;

    }
    .about__text__ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // width: 100%;
        
        .about__text__li{

            .about__text__i{
                font-size: 3rem;
                cursor: pointer;
                transition: 0.3s all;

                &:hover{
                    color: $offWhite;
                }
            }
        }
    }
  }
}
