.about__section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 2rem;
}

.about__section .bg__square__container {
  z-index: -1;
  position: relative;
}

.about__section .bg__square__container .bg__square {
  position: absolute;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: none;
  background: #25ffb3;
  opacity: 0.75;
  -webkit-filter: blur(75px);
          filter: blur(75px);
}

.about__section .bg__square__container .bg__square__1 {
  left: -35rem;
}

.about__section .bg__square__container .bg__square__2 {
  left: 50rem;
  top: -20rem;
}

.about__section .about__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65rem;
  width: 50rem;
}

.about__section .about__leftside .about__image__container {
  background: linear-gradient(35deg, #eee 50%, #25ffb3 50%);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55%;
  width: 100%;
}

.about__section .about__leftside .about__image {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}

.about__section .about__leftside .about__text__container {
  text-align: center;
  height: 40%;
  width: 100%;
  background: #eee;
  font-size: 150%;
  padding: 5rem;
}

.about__section .about__leftside .about__text__container .about__text__btn {
  border: none;
  padding: 1.2rem 5rem;
  background: #25ffb3;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #1f2235;
  margin-top: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.about__section .about__leftside .about__text__container .about__text__btn:hover {
  border: 0.3rem solid #25ffb3;
  background: transparent;
}

.about__section .about__leftside .about__text__container .about__text__p {
  color: #1f2235;
  padding: 0.5rem 0;
}

.about__section .about__leftside .about__text__container .about__text__span {
  color: #1ecc8f;
  font-weight: 600;
}

.about__section .about__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__section .about__rightside .fa-arrow-right {
  color: #25ffb3;
  font-size: 10rem;
  cursor: pointer;
}

.about__section .about__rightside .about__rightside__container {
  color: #eee;
  padding: 5rem;
  display: none;
}

.about__section .about__rightside .about__rightside__p {
  font-size: 170%;
}

.about__section .about__rightside .show {
  display: block;
  width: 600px;
}

.about__section .about__rightside .hide {
  display: none;
  width: 10px;
}

.about__section .about__text__footer {
  background: #eee;
  width: 100%;
  padding: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.about__section .about__text__footer:hover {
  background: #25ffb3;
}

.about__section .about__text__footer .about__text__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__section .about__text__footer .about__text__ul .about__text__li .about__text__i {
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.about__section .about__text__footer .about__text__ul .about__text__li .about__text__i:hover {
  color: #eee;
}

@media screen and (max-width: 900px) {
  .bg__square__container {
    display: none !important;
  }
  .about__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__rightside__container {
    padding: 2rem !important;
  }
  .about__rightside__p {
    font-size: 130% !important;
  }
  .show {
    width: 375px !important;
  }
  .about__leftside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 65rem;
    width: 35rem !important;
  }
  .about__image {
    width: 20rem !important;
    height: 20rem !important;
  }
  .about__text__container {
    font-size: 120% !important;
  }
}
/*# sourceMappingURL=About.css.map */