.tijdlijn__dot__reken{
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    left: calc(5% - 2.2rem);
    border-radius: 50%;
    background-color: rgba(37, 255, 179);
    margin-top: 0.7rem;
}

.tijdlijn__date__reken{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(37, 255, 179);
    margin: 0.6rem 0 1.5rem;
}
