@import "../../../Sass/Variables.scss";
$green: #25eea8;
$orange: #ff5733;
$yellow: #f0db4f;
$blue: #3c99dc;

.Template__container{
    height: 100vh;
    background: rgb(75, 6, 6);
    padding: 3rem;
    .Template__section__wrapper{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto;
        background: rgb(73,79,116);
        background: linear-gradient(180deg, rgba(73,79,116,1) 0%, rgba(30,33,51,1) 100%);
        height: 100%;
        width: 100%;
        padding: 2rem;

    }
}

 