.footer{
    height: 20vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer__h1{
        font-family: 'Dancing Script', cursive;
        font-size: 300%;
    }
}