@import "../Sass/Variables.scss";

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}

html{
    font-size: 62.5%; /* 1 rem = 10px*/
    background: $darkblue;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body{
    font-family: 'Apercu', sans-serif;
    font-size: 1.5rem;
    

}

li{
    list-style: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }