$Green: hsl(159, 100%, 37%);
$offWhite: #eee;
$darkblue:  #1f2235;
@import "../../../../Sass/Variables.scss";

.carousel{
    width: 100%;
    height: 100%;
    position: relative;
    .article__skills__card{
        background: white;
        width: 35rem;
        height: 35rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;

        .article__skills__header{
            height: 55%;
            display: flex;
            align-items: center;
            justify-content: center; 
            background: $Green;
            .article__image__container{
                width: 12rem;

                .article__image{
                    width: 12rem;
                }
            }
        }
        .article__skills__footer{
            height: 45%;
            background: $offWhite;
            padding: 1rem;
            .article__skills__h2{
            color: $darkblue;  
            } 
            .article__skills__p{
                color: $darkblue;
            }
        }
        
    }
}

@media screen and (max-width: $desktop-width){.article__skills__card{width: 30rem!important; height: 30rem!important;}}
@media screen and (max-width: 860px){.article__skills__card{width: 25rem!important; height: 25rem!important;}
.article__skills__h2{
    font-size: 120%;
    } 
    .article__skills__p{
    font-size: 90%;

    }
}


// @media screen and (max-width: ){}