$Green: hsl(159, 100%, 37%);
$offWhite: #eee;
$darkblue:  #1f2235;
@import "../../../../Sass/Variables.scss";

.carousel{
    width: 100%;
    height: 100%;
    position: relative;
    .article__skills__card{
        border-bottom: 2.5px black solid;
        width: 35rem;
        height: 35rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;

        .article__skills__header{
            height: 55%;
            display: flex;
            align-items: center;
            justify-content: center; 

            .article__image__container{
                width: 12rem;
                height: 100%;
                .article__image{
                    width: 12rem;
                    height: 100%;

                }
            }
        }
        .article__skills__footer{
            height: 45%;
            background: rgba(49, 49, 49, 0.5);
            padding: 1.4rem;
            border-top: 2px solid white;
            // transform: translateY(2);
            .article__skills__h2{
                color: $offWhite;
 
            } 
            .article__skills__p{
                color: $offWhite;

            }
        }
        
    }
}
.HTML__head{
    background-image: linear-gradient($darkblue, #FF5733 );
}

.CSS__head{
    background-image: linear-gradient($darkblue, #2965f1);

}

.JS__head{
    background-image: linear-gradient($darkblue, #f0db4f);
}

.REACT__head{
    background-image: linear-gradient($darkblue, #61dbfb);

}

.LARAVEL__head{
    background-image: linear-gradient($darkblue, #fb503b);

}

.PHP__head{
    background-image: linear-gradient($darkblue, #8993be);

}

.WORDPRESS__head{
    background-image: linear-gradient($darkblue, #21759b);

}

.SASS__head{
    background-image: linear-gradient($darkblue, #cc6699);

}

@media screen and (max-width: $desktop-width){.article__skills__card{width: 30rem!important; height: 30rem!important;}}
@media screen and (max-width: 860px){.article__skills__card{width: 25rem!important; height: 25rem!important;}
.article__skills__h2{
    font-size: 120%;
    } 
    .article__skills__p{
    font-size: 90%;

    }
}


// @media screen and (max-width: ){}