.nav {
  height: 8rem;
  width: 100%;
  background: #1f2235;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 99;
}

.nav .nav__logo__container {
  width: 30%;
  /* height: 5rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav .nav__logo__container .nav__logo {
  width: 7rem;
  height: 7rem;
}

.nav .nav__logo__container .Thies {
  color: #24ffb2;
}

.nav .nav__logo__container .nav__h3 {
  color: #eee;
  text-transform: uppercase;
}

.nav__ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__ul .nav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #eee;
  cursor: pointer;
}

.nav__ul .nav__li:hover > .navbar__a ~ .fa-solid {
  color: #25ffb3;
}

.nav__ul .nav__li .fa-solid {
  padding: 0 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav__ul .nav__li .navbar__a {
  text-decoration: none;
  color: #eee;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav__ul .nav__li .navbar__a:hover {
  color: #25ffb3;
}

.nav__small {
  display: none;
}

.fa-times,
.fa-bars {
  color: #eee;
  font-size: 150%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__small {
    padding: 0 5rem;
    display: block;
  }
  .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: #1e2133;
    position: absolute;
    top: 0;
    left: -110%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 12rem 0 3rem 0;
    z-index: -1;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .nav__ul .nav__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
    font-size: 150%;
    color: #24ffb2;
  }
  .nav__ul .nav__li:hover {
    -webkit-box-shadow: 0 0.5rem 1rem #1ecc8f;
            box-shadow: 0 0.5rem 1rem #1ecc8f;
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  .active {
    left: 0%;
  }
}
/*# sourceMappingURL=Navigation.css.map */