@import "../../../../Sass/Variables.scss";

body.popup {
    overflow-y: hidden;
} 

.popup, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin-top: 2.5%;
    transition: 500ms;
    
}

.overlay {
    background: rgba(31, 34, 53, 0.8);
}
.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // line-height: 1.4;
    background: linear-gradient(208.5deg, $offWhite 50%, $brightGreen 50%);
    // padding: 3rem 3rem;
    border-radius: 0.5rem;
    max-width: 60rem;
    min-width: 75%;
    font-size: 125%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    .popup__text__wrapper{
        padding: 3rem;
    }
    
}

.popup__img__container{
    height: 100%;
    width: 100%;
    .popup__img{
        height: 100%;
        width: 100%;
    }
}

.close__popup {
    position: absolute;
    border: none;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    padding: 1rem 1rem;
    font-size: 3rem;
    background: transparent;
}

.close__popup__i{
    color: $darkblue;
    
}

@media screen and (max-width: $bigTablet-width){
    .popup__content {
        height: 80%;
        grid-template-rows: 45% 55%;
        max-height: 75%;
        grid-template-columns: auto;
    }
}